@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  padding-bottom: 50px;
  background-color: rgba(53, 47, 47, 0.048);
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #fff;
  background-size: cover;
  top: 0.1px;
  left: 0px;
  right: 0px;
  transition: all 0.3s ease-in-out;
  box-shadow: rgb(0, 0, 0) 0 8px 15px;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items:normal;
  padding: 1px 0%;
  transition: all 1.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #000000;
  text-decoration: none;
  padding: 15px 20px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}

.nav.active {
  background-color: #ffffff;
box-shadow: #000000;
}

.nav.active a {
  color: rgb(3, 3, 3);
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.hero {
background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(images/sthe.jpg);
background-repeat: no-repeat;
background-size: cover;

height: 70vh;
color: #ffffff;
display: flex;

align-items: center;
text-align: left;
}
.hero h1 {

  font-size: 30px;
  
  font-family: 'Hedvig Letters Serif', serif;
  color:orangered;
}

.hero p {
  font-size: 20px;
  margin: 2px;
  font-family: 'Noto Sans', sans-serif;
  color:#fff;

}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background:#f44336;
  transition: 1s;
  box-shadow: rgb(0, 0, 0) 0 8px 15px;
}
.hero-button{
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 10px 32px;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
}
.hero-button:hover{
  border: 1px solid #fff;
  background:#fff;
  transition: 1s;
  box-shadow: rgb(0, 0, 0) 0 8px 15px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 20;
  text-align: center;
  height: 100vh;

}


.logo{
  width: 60px;
  margin: 0px 70;

}
.pagg{
  background-image: url(images/pp1.jpg);
  background-size: cover;
}
.page2{
  
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}
.page2 h2,
.page2 h3{
  font-size: 30px;
  color: #212121;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Hedvig Letters Serif', serif;

}
.page2 p{
  color: #606163;
  line-height: 22px;
  text-align:center;
}
card{
  
  text-align: center;
  align-items: center;
  height: 100vh;
  padding: 5px 10px;
  width: 1100px;
  background: #606163;
  justify-content: center;
  margin-left: 200px;
  box-shadow: rgb(0, 0, 0) 0 8px 25px;
}
.card h1{
  font-family: 'Hedvig Letters Serif', serif;
  font-size: 30px;
  text-align: center;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  padding:auto;
}
.approach{
  flex-basis:31%;
  background: #ffafaf;
  border: 10px;
  margin-bottom: 5px;
  padding: 20px 12px;
  box-sizing: border-box;
}
h2{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.nav .toggle{
  color: #f30000;
  font-size: 30px;
  float: right ;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  margin-top: 20px;
}


  @media (max-width:860px){
    .hero{
      margin-top: 100px;
    }
  
    nav .hero-button{
      display: none;
    }
    .nav ul{
      position:fixed;
      width: 200px;
      
      background: #dfdfdf;
      height: 86vh;
      display:none;
      top: 89.1px;
      padding: 25px 10px;
      justify-content: space-between;
      transition: 1s;
      margin-top: 1px;
      
    }
    .nav ul li a{
    
    text-align: center;
    line-height: 4;
    }
   .nav .toggle{
    display: block;
   }
   .active{
    display: block;
   }
   
  }
  @media(max-width:860px){
    .page2 h2,
    .page2 h3{
      font-size: 20px;
    }
    .hero{
      text-align: center;
    }
    .hero h1{
      font-size: 30px;
    }
    .row{
    flex-direction: column;
    }
  }
.marginTop{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
.msg{
  color: white;
}
  footer{
    
    bottom: 0px;
    width: 100%;
    background: #111;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
  
  }
  .box .content:before{
  
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
  
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  .social a{
    color: inherit;
  }
  .content a{
    text-decoration: none;
    color: #f30000; 
  }
  @media screen and (max-width: 900px) {
    footer{
      
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
  
 